<form [formGroup]="productForm" #myProductForm="ngForm" (submit)="submit(myProductForm)">
  <div>
    Name: <input formControlName="name">
  </div>
  <div>
    Description: <textarea formControlName="description"></textarea>
  </div>
  <div>
    Price: <input formControlName="price">
  </div>
  <div>
    Framework: <dtiq-framework-selector formControlName="framework"></dtiq-framework-selector>
  </div>
  <div>
    <button>Submit</button>
  </div>
</form>
<button (click)="reset()">Reset</button>
<pre>
  {{productForm.value | json}}
</pre>
